/* styles.css */

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1520034475321-cbe63696469a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://wallpapers.com/images/high/star-wars-space-background-1920-x-1080-jb3rb3y48ckia3rn.webp');
  background-size: cover;
  width: 100%;
}


.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #fff;
}

.planet-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.planet-card {
  background-color: skyblue;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.planet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(218, 193, 146);
}

.planet-card h2 {
  margin-top: 0;
  color: #181918;
}

.planet-card p {
  margin: 5px 0;
  font-weight: 600;
  color: rgb(249, 250, 251);
}

strong {
  color: rgb(15, 14, 14);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .planet-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .planet-card {
    width: calc(100% - 20px);
  }
}
